//Breakpoints
$mobile: 480px; //480 -767 - mobile
$tablet: 768px; //768 -1199 - tablet
$desktop: 1200px; // 1200 - ... - desktop

$primary-text-color: #222222;
$white-text-color: #ffffff;
$secondary-text-color: #848484;
$primary-background-color: #d8d4d4;
$secondary-background-color: #ffffff;
$section-background-color: #fafafa;
$primary-button-background-color: #222222;
$secondary-button-background-color: #ffffff;
$primary-button-hover-color: #ff8000;
$secondary-button-hover-color: #ff8000;
$button-border: 1px solid #222222;
$secondary-button-border: 1px solid #ecebeb;
$border-color: #ecebeb;
$accent-color: #ff8000;
$content-backdrop-background-color: rgba(34, 40, 49, 0.64);
$link-color: #707070;
$link-hover-color: #ff8000;
$dropdown-item-hover-color: #ecebeb;
$input-border: 1px solid rgba(34, 34, 34, 0.3);
$input-border-color: rgba(34, 34, 34, 0.3);
$input-background-color: #ffffff;
$error-color: #fc4747;
$input-border-error-color: #fc4747;
$light-gray: #f2f2f2;
$sand-gray: #b9b9b9;
$active-tab-border: 2px solid #222222;
$box-border: 2px solid #ecebeb;
$modal-border: 1px solid #ecebeb;
$table-border: 1px solid #e7e5e5;
$box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
$loading-background-color: #ffffff;
$transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition: all 250ms ease;
$transition-linear: cubic-bezier(0, 0, 1, 1);
$scroll-color: #b9b9b9;
$video-card-background: #d9d9d9;
$delimiter-color: #848484;
$input-disabled-background-color: #ecebeb;
