@import "../../../../styles/sass/utils/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.gender {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 32px;
}

.fullName {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 16px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}
